<% include paths/header %>

    <% include paths/displayStyling %>

        <div class="displayGeneral">
            <div class="displayPosition">

                <p>
                    <h7 class="displayFarmH7">Farm:
                        <%= farms.name%>
                    </h7>
                </p>

                <img class="displayImg" src="<%=farms.image%>">
                <p>

                    <h7>Description:
                        <%= farms.description%>
                    </h7>
                </p>

                <p>
                    <h7>Address:
                        <%= farms.address%>
                    </h7>
                </p>

                <p>
                    <h7>Email:
                        <%= farms.email%>
                    </h7>
                </p>

                <p>
                    <h7>Contact:
                        <%= farms.contact%>
                    </h7>
                </p>
            </div>
        </div>

        <% include paths/footer %>